.content {
    display: flex;
    padding: 0 75px;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 5px; */
    background: #EBFFE5;
    margin-top: 15px;
}   

.content h1 {
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-style: normal;
    font-weight: 650;
    line-height: normal;
}

.content .hr {
    width: 100%;
    height: 1.5px;
    background-color: black;
}

.certificates {
    margin-top: 50px;
    padding: 0 75px;
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #EBFFE5;
    gap: 40px;
}

.cert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .cert:hover .overlay {
    opacity: 1;
  }
  
  .buttons button {
    margin: 5px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
  }
  
  .buttons .view {
    background-color: #3498db;
    color: #fff;
    border-radius: 15px;
    border: 1.5px solid #3498db;
  }
  
  .buttons .download {
    background-color: #2ecc71;
    color: #fff;
    border-radius: 15px;
    border: 1.5px solid #2ecc71;
  }
  
  .buttons .view:hover {
    background-color: white;
    color: #006384;
    border: 2px solid #006384;
  }

  .buttons .download:hover {
    background-color: white;
    color: #16A765;
    border: 2px solid #16A765;
  }

.cert img {
    width: 429px;
    height: 268px;
}

.icon {
    width: 25px;
    height: 25px;
}


@media only screen and (max-width: 600px) {
    .content {
        align-items: center;
    }

    .content h1 {
        font-size: 35px;
    }

    .certificates {
        padding: 0 25px;
        padding-bottom: 25px;
        gap: 25px;    
        margin-top: 35px;
    }

    .cert img {
        width: 286px;
        height: 178.67px;
    }
}

@media only screen and (max-width: 390px) {
    
    .content h1 {
        font-size: 35px;
    }

    
}